@tailwind base;
@tailwind components;
@tailwind utilities;

.monoton-regular {
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #0E5302;
}

.nav-link-roboto {
    font-family: "Roboto", sans-serif;
}

@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.logo-slide{
    animation: 60s slide infinite linear;
    position:relative;
    z-index: 1;
}
.logo-slide img{
    z-index: 1;
}